@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
:root{
    --principal-blue: rgb(29 161 242);
    --light-blue: rgb(215, 231, 240);
    --dark-blue: rgb(29, 49, 72);
    --very-dark-blue: rgb(7, 8, 9);
}
img{
    width: 32px;
    height: 32px;
}
.header{
    background-color: var(--dark-blue);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--principal-blue);
}
.header__logo{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
h1{
    margin-left: 12px;
    color: var(--light-blue);
    font-size: 20px;
    font-weight: 700;
}
.header__navbar ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    gap: 10px;
}
.header__navbar ul li a{
    padding: 10px;
    color: var(--light-blue);
    font-size: 16px;
    text-decoration: none;
}
.header__navbar ul li a:hover{
    color: var(--principal-blue);
}
main{
    background-color: var(--light-blue);
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .card-item{
    width: 200px;
    margin-bottom: 20px;
}
main .card-item h2{
    background-color: var(--very-dark-blue);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-blue);
    border-radius: 12px 12px 0 0;
}
main .card-item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0 0 12px 12px;
}
footer{
    background-color: var(--very-dark-blue);
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
}
footer p{
    color: var(--light-blue);
}