include configuracion.pug

main
    +card("Mario","https://pics.filmaffinity.com/Super_Mario_Bros_La_pel_cula-521125124-large.jpg","Poster pelicula de Mario")
    +card("Big hero","https://publish.one37pm.net/wp-content/uploads/2021/08/bh6-mobile.jpg","Poster pelicula de Big hero")
    +card("Turning Red","https://m.media-amazon.com/images/M/MV5BOWYxZDMxYWUtNjNiZC00MDE1LWI2Y2QtNWZhNDAyMGY5ZjVhXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg","Poster pelicula de Turning Red")