head
    meta(charset="UTF-8")
    meta(name="description" content="Sitio web de prueba, para la aplicación de los conceptos de pug y css.")
    title Sitio web de pruebas pug
    link(rel="stylesheet" href="./css/styles.css")
    link(rel="icon" href="https://cdn.freebiesupply.com/logos/large/2x/twitter-3-logo-png-transparent.png")